body {
    background-color: #222;
    color: #f0f0f0;
}

h1 {
    color: #ff0000;
    text-align: left;
}

.locations {
    background-color: gray;
    font-style: italic;
    padding-bottom: 1em;
    padding-top: 1em;
}
